name: run-tf-format
on:
  pull_request:
    paths:
      - '**.tf'
jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Run Terraform fmt check
        run: terraform fmt -check -recursive   